elpa
cache
backup
auto-save-list
var
.python-environments
literate/*.el
!literate/temp-custom.el
configuration.el
/configuration.html
/configuration.tex
/autosaves/
/backups/
/literate/blue-spruce/blue-spruce-modeline.el
/.achievements

